@charset "UTF-8";

header {
    min-height: 150px;
    text-align: center;
    padding-top: 30px;
}

nav {
    background-color: rgb(31, 139, 31);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.336);
}

nav > a {
    color: black;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s;
}

nav > a:hover {
    background-color: rgb(72, 122, 72);
    color: white;
}